select {
    
    width: 90px;
    height: 25px;
}

.lang {
    float: right;
    margin-right: 20px;
}
h4 {
    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}