{% extends 'user/navbar.html' %}
{% block bodycontent %}
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>니맛내맛 : 알레르기 수정</title>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <!-- jQuery ui style sheet -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- jQuery ui library -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/css/common.css?201709272">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href={% static "YTMT/css/allergy.css" %}>
  </head>
   
    <center>
      <br>
      <span style="font-weight: bold; font-size: 2em; line-height: 2em; color: black; font-family: 'Nanum Gothic';">알레르기 </span>
      <br>

  <form id = "allergyform" name="form" method="post" action="{% url 'YTMT:allergymodifysave'%}" content_type=u"application/json; charset=utf-8">

     {% csrf_token %}
     <div class="container col-md-4 mt-3">
      <div  style="padding-bottom:50px;">

  <tr>
    <td colspan="4" align="left" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <td colspan="5"  height="25" align="center">
       <input type="text" id="searchbox" name="addText"style="width:200px">
          <input name="addButton" id="addbutton" type="button" style="cursor:hand" onClick="addelement();" value="추가"></td></table></td>
      </tr>
  <tr>
   <td height="25" align="center"  >
     <table id="addTable" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" border="0">
    </table></td>
  </tr>
  <div class = "allergy_container">  
  {% for allergy in allergy_list %}
   <span class="m-1 badge badge-danger">
    <span class= "allergy">{{ allergy.ingre}}</span><span class = "remove" style="cursor:pointer"> X</span></span>
  {% endfor %}    
  </div>
  
</div>
<input type="button" id="submit_btn" onClick="submit_form()" class="btn btn-pink w200" style="font-weight:bold;background-color: #fd7e14;width:250pt;margin-top:12px;"value="수정완료">

  </form>
  <span class="m-1 badge badge-danger d-none">
    <span class= "allergy"></span><span class = "remove" style="cursor:pointer"> X </span></span>
</center>
 
  <script type="text/javascript">


    $(document).ready(function () {
            var ingre = [{%for ingre in ingre_list %}
                "{{ingre}}",
                {% endfor %}
            ];

            /**
             * source - 검색될 배열
             */
            $("#searchbox").autocomplete({
                source: ingre
            });
        });

    function addelement(){
      var frm = document.form;
      for( var i = 0; i <= frm.elements.length - 1; i++ ){
         if( frm.elements[i].name == "addText" )
         {
             if( !frm.elements[i].value ){
                 alert("글자를 입력하세요!");
                     frm.elements[i].focus();
              return ;
              }
          }
        }
        
        find_bdge = $(".badge-danger.d-none").clone()
        $(find_bdge).removeClass("d-none")
        $(find_bdge).find(".allergy").html($('#searchbox').val())
        $(find_bdge).appendTo(".allergy_container")

        $("#searchbox").val("");
    }
    
    $(document).on("click", ".remove", function(event) {
      var parentTag = $(this).closest(".badge")
      parentTag.remove()
    });
    
    function submit_form(){
      var allergy_list = []
        $(".allergy").each(function(index,elements){
            allergy_list.push($(elements).text())
        })

      var temp = document.createElement("input");
      var input = $(temp).attr('name',"allergy_list").val(JSON.stringify(allergy_list));
      $(input).attr('type' , 'hidden')
      $('#allergyform').append($(input))
      console.log(JSON.stringify(allergy_list));
      $('#allergyform').submit()
    }


    </script>
{% endblock %}
