{% extends 'user/navbar.html' %} {% block bodycontent %} {% load static %}

<head>
    <title>니맛내맛 : 프로필</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href={% static "YTMT/css/signup.css" %}>

</head>
<center>

    <br>
    <span style="font-weight: bold; font-size: 2em; line-height: 2em; color: black; font-family: 'Nanum Gothic';">
    프로필 정보
  </span>
    <br><br> {% csrf_token %}
    <table border="0" cellspacing="0" frame="void">
        <tr>
            <th colspan="2" style="float:left;align:center;">아이디 </th>

        <td style="float:left;">
            {{user.username}}
        </td>
</tr>
        <tr>
            <th colspan="2" style="float:left;align:center;">이름 </th>


        <td style="float:left;">
            {{profile.name}}
        </td>  </tr>
        <tr>
            <th colspan="2" style="float:left;align:center;">이메일 </th>

        <td style="float:left;">
            {{user.email}}

        </td> <td></td> </tr>

        <tr>
            <th colspan="2" style="float:left;align:center;">생일 </th>

        <td style="float:left;">
            {{profile.birth}}
        </td></tr>
        <tr>
            <th colspan="2" style="float:left;align:center;">성별 </th>

        <td style="float:left;">
            {{profile.gender}}
        </td>  </tr>
        <tr>
            <th colspan="2" style="float:left;align:center;">종교 </th>

        <td style="float:left;">
            {{profile.religion}}
        </td></tr>
        <tr>
            <th colspan="2" style="float:left;align:center;">채식주의 </th>

        <td style="float:left;">
            {{profile.vegetarian}}
        </td></tr>
        <tr>
            <th colspan="2" style="float:left;align:center;">알레르기 </th>

        <td style="float:left;">
            {{profile.allergy}}
        </td>  </tr>
        <tr>
            <th colspan="2" style="float:left;align:center;">싫어하는 음식 </th>
        </tr>
        <td style="float:left;">
            {{hate_food}}
        </td>
        <tr>
            <th colspan="2" style="float:left;align:center;">싫어하는 재료 </th>

        <td style="float:left;">
            {{hate_ingre}}
        </td>  </tr>
    </table>


    <a href="{% url 'YTMT:mypagemain'%}"><input id="btn_join" class="btn btn-pink w200" style="font-weight:bold;background-color: #fd7e14;width:250pt;margin-top:12px;" value="이전으로">
    </a>

</center>
{% endblock %}
