<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

	<link rel="stylesheet" href="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/css/common.css?201709272">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	{% load static %}
	<link rel="stylesheet" href={% static "YTMT/css/main.css" %}>
	<link rel="stylesheet" href={% static "YTMT/css/templete.css" %}>
</head>
<header>
			 <nav class="navbar navbar-light" style="background-color: #FFC81E;" id="navbar">
						 <div class="container-fluid">
										<a class="navbar-brand" href="{% url 'YTMT:mainpage'%}">
												<img src="https://ytmtresource.s3.ap-northeast-2.amazonaws.com/YTMT_LOGO_mini.png" width="auto" height="40" alt="">
										</a>
										<ul class="nav nav-pills">
												<li class="nav-item">
													<a class="nav-link" style="color:black; font-weight: bold;"href="{% url 'YTMT:signin'%}">로그인</a>
												</li>
												<li class="nav-item">
													<a class="nav-link"style="color:black; font-weight: bold;" href="{% url 'YTMT:mypagemain'%}">마이페이지</a>
												</li>
										</ul>
								</div>
		</nav>

</header>

<body>
	<center>
		<br><br><br>
		<header1 class="main-header"><img src="https://ytmtresource.s3.ap-northeast-2.amazonaws.com/YTMT_Logo.jpg" style="width:400px; height:350px; padding-top:10px;">
			<div>
			</div>
		</header1>
		<br>
		<button class="button"><a href="#"> 나를 위한 메뉴 추천</a> </button>
		<br>
		<button class="button"><a href="#"> 주변 인기 메뉴 추천</a> </button>
		<br>
		<button2 class="button"><a href="#"> 친구와 함께 추천 받기</a></button2>


	</center>
</body>

</html>
