<!--<html lang="ko">-->
{% extends 'user/navbar.html' %} {% load static %} {% block bodycontent %}

<head>
    <title>친구와 함께하는 메뉴 추천</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <!-- jQuery ui style sheet -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- jQuery ui library -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/css/common.css?201709272">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href='{% static "YTMT/css/allergy.css" %}'>

    <script type="text/javascript">
        $(document).ready(function () {
            var friends = [{%for friend in friend_list %}
                "{{friend.name}}, {{friend.user_id.username}}",
                {% endfor %}
            ];

            /**
             * source - 검색될 배열
             */
            $("#searchbox").autocomplete({
                source: friends
            });
        });

        $(document).on("click", ".searchBtn", function (event) {
            var friend_info = $("#searchbox").val()
            $("#searchbox").val("")
            var friend_id = friend_info.split(',')[1].trim()

            var friend_card = $("[data-id='" + friend_id + "']")
            var parentTag = $(friend_card).find(".display")
            console.log(parentTag)
            $(parentTag).removeClass("d-none")
            friend_card.appendTo(".card_container")

        });

        $(document).on("click", ".remove_btn", function (event) {
            var parentTag = $(this).closest(".friend_card")
            console.log(parentTag)
            parentTag.find(".display").addClass("d-none")
            parentTag.appentTo(".hidden_container")
        });

        function submit_form() {
            console.log("clicked")
            var friend_list = []
            friend_cards = $(".card_container").find(".friend_card")


            $(friend_cards).each(function (index, elements) {
                friend_list.push($(elements).data("id"))
            })
            console.log(friend_list)

            var temp = document.createElement("input");
            var input = $(temp).attr('name', "friend_list").val(JSON.stringify(friend_list));
            $(input).attr('type', 'hidden')
            $('#friendform').append($(input))
            console.log(JSON.stringify(friend_list));
            $('#friendform').submit()
        }
    </script>

    <style>
        .user_img_size {
            height: 4em;
            width: 4em;
        }

        .round-20 {
            border-radius: 25px;
        }

        .remove_btn {
            z-index: 3;
            position: relative;
            top: 8px;
            right: 0px;
        }
    </style>

    <!--<body>-->
    <center>
        <div class="container">
            <br><br>
            <span
                style="font-weight: bold; font-size: 1.8em; line-height: 2em; color: black; font-family: 'Nanum Gothic';">
                친구와 함께 하는 메뉴 추천
            </span><br>
            <span
                style="font-weight: bold; font-size: 1em; line-height: 2em; color: black; font-family: 'Nanum Gothic';">
                친구를 검색해서 함께 먹을 음식을 추천 받으세요!
            </span>
            <br><br>
            
            <span
                style="font-weight: bold; font-size:1.5em; line-height: 2em; color: black; font-family: 'Nanum Gothic';">
                같이 먹을 친구들
            </span>
            <div class="container justify-content-center w-100 card_container">

            </div>
            <form name="form" id="friendform" method="post" action="{% url 'YTMT:groupmenureco'%}"
                content_type=u "application/json; charset=utf-8">
                {% csrf_token %}
                <div>
                    <div style="padding-bottom:50px;">
                        <tr>
                            <td colspan="2" align="left" align="center">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <td colspan="5" height="25" align="center">

                                        <input type="text" id="searchbox" name="addText">
                                        <input name="addButton" id="addbutton" class="searchBtn" type="button"
                                            style="cursor:hand" value="추가">
                                    </td>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td height="25" align="center">
                                <table id="addTable" width="200" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF"
                                    border="0">
                                </table>
                            </td>
                        </tr>

                    </div>
                </div>
                <input id="submit_btn" class="btn btn-pink w-75" onClick="submit_form()"
                    style="font-weight:bold;background-color: #fd7e14;width:250pt;margin-top:12px;" value="메뉴 추천 받기">
            </form>

        </div>



    </center>
    <div class="hidden_container">
        {% for friend in friend_list%}
        <div class="d-inline-flex justify-content-center friend_card" data-id={{friend.user_id.username}}>
            <div class="display p-1 d-none">
                <button type="remove_btn button" class="close remove_btn rounded-circle" aria-label="Close">
                    <span class="remove_btn" aria-hidden="true">&times;</span>
                </button>
                <div class="mb-1">
                    <img src='{% static "YTMT/img/default-user.png" %}' class="user_img_size round-20" alt="... ">
                </div>
                <b class="name_place">{{friend.name }}</b>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}