<!--<html lang="ko">-->
{% extends 'user/navbar.html' %} {% load static %} {% block bodycontent %} {% block bodycontent %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/css/common.css?201709272">
    <link rel="stylesheet" type="text/css" href={% static "YTMT/css/allergy.css" %}>
    <script type="text/javascript" src={% static "YTMT/js/friendList.js" %}></script>
</head>

<style>
    hr.style1 {
        border-top: 1px solid #d1d0cc;
    }
    
    .middle_font {
        font-size: medium;
    }
    
    .user_img_size {
        width: 75px;
        height: 75px;
    }
</style>

<center>

</center>

{% endblock %}