
{% extends 'user/navbar.html' %}
{% block bodycontent %}
{% load static %}

<head>
<meta charset="utf-8">
<title>위치 기반 인기 메뉴 추천</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href='{% static "YTMT/css/menureco.css" %}'>

</head>

  <center>
        <div class="title">부대찌개</div>

         <nav class="navbar navbar-inverse" id="navbar2">
             <button class="btn btn-default navbar-btn" id="navleftbtn"><a href="{% url 'YTMT:menureco'%}" style="color: black;">이전으로</a> </button>
             <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            <span style="color: black;">수원시 영통구 월드컵로 206</span>
        </nav>
        <a href="https://map.kakao.com/link/search/아주대부대찌개"target="_blank">
          <img width="504" height="310" src="https://map2.daum.net/map/mapservice?FORMAT=PNG&SCALE=2.5&MX=523952&MY=1084097&S=0&IW=504&IH=310&LANG=0&COORDSTM=WCONGNAMUL" style="border:1px solid #ccc"></a>


{% endblock %}
