{% extends 'menureco/menulist.html' %}
{% load staticfiles %}


{% block content %}
  <header>
      <link rel="stylesheet" href='{% static "YTMT/css/menureco.css" %}'>
  </header>
   {% for menu2 in menu_list %}
     <div class="post">
          <div class="card">
                        <img src="https://ytmtresource.s3.ap-northeast-2.amazonaws.com/YTMT_Logo.jpg" alt="" class="center" width="auto" height="100%"/>
                            <div class="general">
                            
                                <a href="/" style="color:black; text-decoration: none;">
                                <h3 class="card-title">{{ menu2.name }}</h3>
                                </a>
                                <div class="card-text">
                                    <span>{{ menu2.text }}</span>
                                </div>

                                <div class="like-img" align="right" >
<!--                                <a class="navbar-brand" href="/">-->
<!--                                   여기에 좋아요 누르면 history로 반영되도록-->
                                    <h5>
                                    <img id="likes" src='{% static "YTMT/img/nolike.png" %}' width="40px" height="auto" onclick="likechange()">
                                    100</h5>
<!--                                여기에 좋아요 수 계산하는거 넣어줘-->
                                    <script type="text/javascript">
                                        function likechange() {
                                            var likes = document.getElementById('likes');
                                            
                                            if(likes.src.match('{% static "YTMT/img/like.png" %}')) {
                                                likes.src = '{% static "YTMT/img/nolike.png" %}'
                                            } else {
                                                likes.src = '{% static "YTMT/img/like.png" %}'
                                            } 
                                        }
                                    </script>
                                </div>
                            </div>
          </div>
        </div>

    {% endfor %}
{% endblock %}

