
{% extends 'user/navbar.html' %}
{% load static %}
{% load staticfiles %}

{% block bodycontent %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>추천 메뉴 리스트</title> 
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href='{% static "YTMT/css/menureco.css" %}'>
    </head>

         <center>
            <div class="title">메뉴 추천</div>
         </center>
         <nav class="navbar navbar-inverse" id="navbar2">
           <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="background-color: white;border: double;">정렬 기준
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" style="color: black;">없음</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" style="color: black;">가격</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" style="color: black;">인기</a></li>
              </ul>
            </div>
        <button class="btn btn-default navbar-btn" id="navrightbtn" onClick="window.location.reload()">새로 고침</button>
         <button class="btn btn-default navbar-btn" id="navrightbtn"><a href="{% url 'YTMT:mainpage'%}" style="color: black;">홈으로</a> </button>
        </nav>

        <div class="firmalar">    
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>


{% endblock %}



     

