
{% extends 'user/navbar.html' %}
{% load static %}
{% load staticfiles %}

{% block bodycontent %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>추천 메뉴 리스트</title> 
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href='{% static "YTMT/css/menureco.css" %}'>
    </head>

         <center>
            <div class="title">메뉴 추천</div>
         </center>
         <nav class="navbar navbar-inverse" id="navbar2">
        <button class="btn btn-default navbar-btn" id="navrightbtn"><a href="{% url 'YTMT:mainpage'%}" style="color: black;">홈으로</a> </button>
        <button class="btn btn-default navbar-btn" id="navrightbtn" onClick="window.location.reload()" style="width: 125pt;">다른 메뉴 추천 받기</button>

        </nav>

        <div class="firmalar">    
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>


{% endblock %}



     

