{% extends 'menureco/menulist.html' %}
{% load staticfiles %}


{% block content %}
   {% for menu in menu_list %}
     <div class="post">
          <div class="col-8">
              <div class="card">
                <div class="row no-gutters">
                    <div class="col-3">
                        <img src="https://ytmtresource.s3.ap-northeast-2.amazonaws.com/YTMT_Logo.jpg" alt="" class="card-img"/>
                        <!-- <img src="{{menu.img_url}}" data-src = "{{menu.img_url}}"alt="" class="card-img"/> -->
                    </div>
                        <div class="col-8">
                            <div class="card-body">
                               
                                <a href="/" style="color:black; text-decoration: none;"><h3 class="card-title">{{ menu.name }}</h3></a>
                                <p class="card-text">{{ menu.text }}</p>

    
                                <span class="like-img" align="right">
<!--                                <a class="navbar-brand" href="/">-->
<!--                                   여기에 좋아요 누르면 history로 반영되도록-->
                                    <img id="likes" src='{% static "YTMT/img/nolike.png" %}' width="30px" height="auto" onclick="likechange()">
                                    <script type="text/javascript">
                                        function likechange() {
                                            var likes = document.getElementById('likes');
                                            
                                            if(likes.src.match('{% static "YTMT/img/like.png" %}')) {
                                                likes.src = '{% static "YTMT/img/nolike.png" %}'
                                            } else {
                                                likes.src = '{% static "YTMT/img/like.png" %}'
                                            } 
                                        }
                                    </script>
<!--                                </a>-->
                                <h style="margin-left: 0">100</h>
<!--                                여기에 좋아요 수 계산하는거 넣어줘-->
                                </span>
    
                            </div>
                        </div> 
                   </div>
                </div>

          </div>
        </div>

    {% endfor %}
{% endblock %}

