{% extends 'user/navbar.html' %}

{% block bodycontent %}
{% load static %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>추천 식당 리스트</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href='{% static "YTMT/css/menureco.css" %}'>
    </head>

         <center>
            <div class="title">메뉴이름</div>
<!--            선택한 메뉴 이름 -->
         </center>
         <nav class="navbar navbar-inverse" id="navbar2">
           <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="background-color: white;border: double;">정렬 기준
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" style="color: black;">없음</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" style="color: black;">가격</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" style="color: black;">인기</a></li>
              </ul>
            </div>


             <button class="btn btn-default navbar-btn" id="navleftbtn"><a href="{% url 'YTMT:menureco'%}" style="color: black;">이전으로</a> </button>
             <button class="btn btn-default navbar-btn" id="navleftbtn"><a href="{% url 'YTMT:locationreco'%}" style="color: black;">지도로보기</a> </button>

        </nav>

        <div class="firmalar">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">

                       {% for rest in restaurants %}
                         <div class="post">
                                    <div class="firma-card row">
                                        <div class="col-md-5 img-padding-no">
                                            <img class="firma-resim"
                                            style="height: 100%;
                        width: 100%;"
                                            src = '{% static "YTMT/img/default-user.png" %}'>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="firma-aciklama card-body">
                                                <h4>{{ rest.rest_name }}</h4>

                                                <div class="yacht-info__list space-2">

                                                    <div class="menutext">
                                                        <span>
                                                        {{ rest.text }}

                                                        </span>
                                                    </div>

                                                     <br><br>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                            </div>


                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>


{% endblock %}
