    h,
    td,
    tr,
    input,
    textarea,
    select,
    FORM {
      font-family: 나눔고딕;
      font-size: 1em;
      border-radius: 5px;
    }

    table,
    FORM {
      border: none);
      border-spacing: 15px;
    }


    th {
      text-align: center;
      padding-right: 15px;
      padding-left: 15px;
    }