  <!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>니맛내맛 : 생년월일입력</title>
  <link rel="stylesheet" href="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/css/common.css?201709272">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    {% load static %}
    <link rel="stylesheet" href={% static "YTMT/css/templete.css" %}>
    <link rel="stylesheet" href={% static "YTMT/css/birthandgender.css" %}>
  <script type="text/javascript">
  function checkValue()
        {
            if(!document.form.birth.value){
                alert("생년월일을 입력하세요!");
                return false;
            }
            if(!document.form.gender.value){
                alert("성별을 입력하세요.");
                return false;
            }
return true;
        }
  </script>
</head>

<header>
       <nav class="navbar navbar-light" style="background-color: #FFC81E;" id="navbar">
             <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'YTMT:mainpage'%}">
                        <img src="https://ytmtresource.s3.ap-northeast-2.amazonaws.com/YTMT_LOGO_mini.png" width="auto" height="40" alt="">
                    </a>
                </div>
            </div>
    </nav>

</header>


<body style="background-color:#f0f5f3">
  <center>
    <br><br><br><br><br>

    <br>
    <br>
  <form name="form" method="post"  action="{% url 'YTMT:religion'%}" onsubmit="return checkValue()">
    {% csrf_token %}
    <table boder="" bgcolor="#f0f5f3" cellspacing="0">
        <tr>
          <th> 생년월일 </th>
          <td> <input type="date" name="birth" id="birth" /> </td>
        </tr>

        <tr>
                <th>성별</th>
                <td>
                    <input type="radio" id="man" name="gender" value="M" checked="checked" >남자
                    <input type="radio" id="woman" name="gender" value="W">여자
                </td>
            </tr>

    </table>
    <br>
    <input type="submit"   id="btn_join" class="btn btn-pink w200" style="font-weight:bold;background-color: #fd7e14;width:250pt;margin-top:12px;"value="next">
  </form>


  </center>

</body>

</html>
