  <!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>니맛내맛 : 생년월일입력</title>
  <link rel="stylesheet" href="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/css/common.css?201709272">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="religion.css">
  <script type="text/javascript">
  function checkValue()
        {
            if(!document.form.birth.value){
                alert("생년월일을 입력하세요!");
                docmment.form.birth.focus();
                return false;
            }
            if(!document.form.gender.value){
                alert("성별을 입력하세요.");
                return false;
            }

            form.method="post";
            location.href="{% url 'YTMT:religion'%}";
        }

  </script>

</head>
<header>
    <nav class="navbar navbar-light" style="background-color: #FFC81E;" id="navbar">
            <a class="navbar-brand" href="#">
                <img src="https://ytmtresource.s3.ap-northeast-2.amazonaws.com/YTMT_Logo.jpg" width="70" height="40" alt="">
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link" href="#fat">로그인</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#fat">마이페이지</a>
                </li>
            </ul>
    </nav>

</header>


<body style="background-color:#f0f5f3">
  <center>
    <br><br><br><br><br>

    <br>
    <br>
    <form name="form" method="post">
    <table boder="" bgcolor="#f0f5f3" cellspacing="0">
        <tr>
          <th> 생년월일 </th>
          <td> <input type="date" name="birth" id="birth" /> </td>
        </tr>

        <tr>
                <th>성별</th>
                <td>
                    <input type="radio" id="man" name="gender" value="M" checked="checked" >남자
                    <input type="radio" id="woman" name="gender" value="W">여자
                </td>
            </tr>

    </table>
    <br>
  <input type="button" id="btn_join" onclick="checkValue();" class="btn btn-warning w200" style="width:200pt;margin-top:12px;" value="next >">
  </form>


  </center>

</body>

</html>
