<!DOCTYPE html>
<html lang= "ko">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    {% load static %}
    <link rel="stylesheet" href={% static "YTMT/templete.css" %}>

    <title>상단바</title>

</head>

<body>

    <nav class="navbar navbar-light" style="background-color: #FFC81E;" id="navbar">
            <a class="navbar-brand" href="#">
                <img src="https://ytmtresource.s3.ap-northeast-2.amazonaws.com/YTMT_Logo.jpg" width="70" height="40" alt="">
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link" href="#fat">로그인</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#fat">마이페이지</a>
                </li>
            </ul>
    </nav>

</body>
</html>
