<!DOCTYPE html>
{% load static %}
<!--{% load staticfiles %}-->

<html lang= "ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href='{% static "YTMT/css/templete.css" %}'>

</head>
<header>
        <nav class="navbar navbar-light" style="background-color: #FFC81E;" id="navbar">
             <div class="container-fluid">
				<a class="navbar-brand" href="{% url 'YTMT:mainpage'%}">
				    <img src="https://ytmtresource.s3.ap-northeast-2.amazonaws.com/YTMT_LOGO_mini.png" width="auto" height="30" alt="">
				</a>
                {% if request.session.password %}
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" style="color:black; font-weight: bold;" href="{% url 'YTMT:signout'%}">로그아웃</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:black; font-weight: bold;" href="{% url 'YTMT:mypagemain'%}">마이페이지</a>
                        </li>
                    </ul>
                {% else %}
                    
                {% endif %}
            </div>
		</nav>
    
    </header>

<body>

<!--    {% csrf_token %}   -->

    {% block bodycontent %}
    {% endblock %}

               
</body>
</html>
