{% extends 'user/navbar.html' %} 
{% block bodycontent %} 
{% load static %} 
<head>
    <title>니맛내맛 : 프로필</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href={% static "YTMT/css/signup.css" %}>

</head>
<center>

    <br>
    <span style="font-weight: bold; font-size: 2em; line-height: 2em; color: black; font-family: 'Nanum Gothic';">
    회원정보 확인
  </span>
    <br><br> {% csrf_token %}
    <table border="0" cellspacing="0" frame="void">
        <tr>
            <th style="float:left;">아이디 </th>
        </tr>
        <td>
            {{profile.user_id}}
        </td>
        <tr>
            <th style="float:left;">이름 </th>
        </tr>

        <td>
            {{profile.name}}
        </td>
        <tr>
            <th style="float:left;">이메일 </th>
        </tr>
        <td>
            {{user.email}}
        </td>

        <tr>
            <th style="float:left;">생일 </th>
        </tr>
        <td>
            {{profile.birth}}
        </td>
        <tr>
            <th style="float:left;">성별 </th>
        </tr>
        <td>
            {{profile.gender}}
        </td>
        <tr>
            <th style="float:left;">종교 </th>
        </tr>
        <td>
            {{profile.religion}}
        </td>
        <tr>
            <th style="float:left;">채식주의 </th>
        </tr>
        <td>
            {{profile.vegetarian}}
        </td>
        <tr>
            <th style="float:left;">알레르기 </th>
        </tr>
        <td>
            {{allergy}}
        </td>
        <tr>
            <th style="float:left;">싫어하는 음식 </th>
        </tr>
        <td>
            {{hate_food}}
        </td>
        <tr>
            <th style="float:left;">싫어하는 재료 </th>
        </tr>
        <td>
            {{hate_ingre}}
        </td>
    </table>


    <a href="{% url 'YTMT:signin'%}"><input id="btn_join" class="btn btn-pink w200" style="font-weight:bold;background-color: #fd7e14;width:250pt;margin-top:12px;" value="회원가입 완료">
    </a>

</center>		
{% endblock %}