<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>니맛내맛 : 종교선택</title>
  <link rel="stylesheet" href="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/css/common.css?201709272">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  {% load static %}
  <link rel="stylesheet" href={% static "YTMT/css/templete.css" %}>
  <link rel="stylesheet" href={% static "YTMT/css/religion.css" %}>
</head>
<header>
       <nav class="navbar navbar-light" style="background-color: #FFC81E;" id="navbar">
             <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'YTMT:mainpage'%}">
                        <img src="https://ytmtresource.s3.ap-northeast-2.amazonaws.com/YTMT_LOGO_mini.png" width="auto" height="40" alt="">
                    </a>
                </div>
            </div>
    </nav>

</header>

<body>
  <center>
    <form name="form" method="post" action="{% url 'YTMT:religionsave'%}" onsubmit="">
      {% csrf_token %}
      <br>
      <span style="font-weight: bold; font-size: 2em; line-height: 2em; color: black; font-family: 'Nanum Gothic';">종교 </span>
      <br>

          <div class="container">
            <div class="row">
              <div class="box box-a">
                <div class="contents project-card">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-warning" style="width:60pt;height:60pt;font-weight:bold;margin-bottom:30px;">
                    <input type="radio" name="religion" id="hindu" value="hindu"><br>힌두교
                  </label></div>
              </div></div>
              <div class="box box-b">
                <div class="contents project-card">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-warning" style="width:60pt;height:60pt;font-weight:bold;margin-bottom:30px;">
                    <input type="radio" name="religion" id="budd" value="budd"><br>불교
                  </label></div>
              </div>
            </div></div>
            <div class="row">
              <div class="box box-a">
                <div class="contents project-card">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-warning" style="width:60pt;height:60pt;font-weight:bolder;margin-bottom:30px;">
                    <input type="radio" name="religion" id="christian" value="christian"><br>기독교
                  </label></div>
              </div></div>
              <div class="box box-b">
                <div class="contents project-card">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-warning" style="width:60pt;height:60pt;font-weight:bold;margin-bottom:30px;">
                    <input type="radio" name="religion" id="catholic"value="catholic"><br>천주교
                  </label></div>
              </div></div>
            </div>
            <div class="row">
              <div class="box box-a">
                <div class="contents project-card">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-warning" style="width:60pt;height:60pt;font-weight:bold;margin-bottom:30px;">
                    <input type="radio" name="religion" id="islam"value="islam"><br>이슬람교
                  </label></div>
              </div></div>
              <div class="box box-b">
                <div class="contents project-card">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-warning" style="width:60pt;height:60pt;font-weight:bold;margin-bottom:30px;">
                    <input type="radio" name="religion" id="juda"value="juda"><br>유대교
                  </label></div>
              </div></div>
            </div>  <div class="row">
                <div class="box box-a">
                  <div class="contents project-card">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-warning" style=" width:60pt; height:60pt;font-weight:bold;margin-bottom:30px;">
                      <input type="radio" name="religion" id="sikh"value="sikh"><br>시크교도
                    </label></div>
                </div></div>
                <div class="box box-b">
                  <div class="contents project-card">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-warning" style="width:60pt;height:60pt;font-weight:bold;margin-bottom:30px;">
                      <input type="radio" name="religion" id="none"value="none"><br>  무교
                    </label></div>
                </div></div>
              </div>
<br>
          <input type="submit" id="btn_join" class="btn btn-pink w200" style="font-weight:bold;background-color: #fd7e14;width:250pt;margin-top:12px;" value="next">
    </form>
  </center>


</body>


</html>
