{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>니맛내맛 : 로그인</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/css/common.css?201709272">
  <link rel="stylesheet" href="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/css/user_web.css?201709272">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css?201709272">
  <link rel="stylesheet" href='{% static "YTMT/css/signin.css" %}'>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

</head>

<body id="login_body">
  <center>
    <form name="form" id="frm_login" method="POST" action="{% url 'YTMT:signinrequest' %}" >

      {% csrf_token %}
      <br>

        <span style="font-weight: bold; font-size: 2.5em; line-height: 2em; color: black; font-family: 'Nanum Gothic';">Login</span>
        <br><br>

      <div class="container" style="mt-5">
          <input name="retURL" type="hidden" value="https://.com/">

            <!-- <img src="https://ytmtresource.s3.ap-northeast-2.amazonaws.com/YTMT_Logo.jpg" width="200" height="auto" style="padding-bottom: 16px"> -->
                <div>
                  <input id="id" name="username" type="text" class="input-text" placeholder="ID" style="margin-bottom:7px;">
                  <br>
                  <input id="pw" name="password" type="password" class="input-text" placeholder="PASSWORD">
                  <br>
                </div>

                {% if error %}
                    <div style="padding-top: 10px; padding-bottom: 10px; color: orangered; font-weight: bolder;">{{ error }}</div>
                {% else %} 
                    <div style="padding-top: 37px"><div class="clear"></div></div>
                {% endif %}
                <input type="submit" class="btn btn-black"  value="login">
                <br>
           
                   <a href="{% url 'YTMT:signup'%}">
                      <input  id="btn_intro" type="button" class="btn" style="margin-top:12px; background-color: #FCEEB5; border:1px black solid;" value="Join us"><br>
                     </a>
                     <a href="{% url 'YTMT:findinfo'%}">
                      <input  type="button" class="btn" style="margin-top:5px; background-color: #FCEEB5; border:1px black solid;" value="Forgot ID? or Forgot Password?">
                    </a>


          </div>

        </form>
    </center>
</body>

</html>
