<!DOCTYPE html>

<head>
  <!-- <script src="https://connect.facebook.net/ko_KR/sdk.js?hash=2bc317245ae70e125038f2d920bdfc90&amp;ua=modern_es6" async="" crossorigin="anonymous"></script> -->
  <meta charset="utf-8">
  <title>니맛내맛 : 로그인</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/css/common.css?201709272">
  <link rel="stylesheet" href="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/css/user_web.css?201709272">
  
  
  <style>
        .column {
              float: left;
              width: 50%;
        }
        .row:after {
              content: "";
              display: table;
              clear: both;
        }
        li {
              display: inline-block;
              margin-left: 10px;
              margin-right: 0px;
              margin-top: 30px;
              float: left;
              font-size: 15px;
              font-weight: bold;
        }
    </style>

</head>

<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid" style="background-color: #FFC81E; width:100%; height:60px; ">
      <div class="navbar-header navbar-right">
        <a class="navbar-left" href="{% url 'YTMT:signin'%}"><img src="https://ytmtresource.s3.ap-northeast-2.amazonaws.com/YTMT_Logo.jpg" style="float:left;width:auto;padding:0px 0px 0px 0px;height:auto; width:70px;"></a>

        <li><a href="/" style="font-weight:bold; color:black;">로그인</a></li>
        <li><a href="/" style="font-weight:bold; color:black;">마이페이지</a></li>
      </div>
    </div>
  </nav>
  <div class="navbar-header">

  </div> 
</header>

<body>
  <div id="div_shadow">
    <div class="loader"></div>
  </div>

  <div class="warp">
    <div class="header">
      <div class="lang" align="right">
        <select id="locale_switch" name="locale_switch" title="언어선택" class="sel" onchange="switchlocale();nclks_select(this.value,'',{'ko_KR':'log.lankr','en_US':'log.lanen'},this,event);">
          <option value="ko_KR">한국어</option>
          <option value="en_US">English</option>
        </select>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <form id="frm_login" method="POST" action="{% url 'YTMT:signinrequest'%}">
          {% csrf_token %}
          <input name="retURL" type="hidden" value="https://.com/">
          <div class="login">
            <div class="title bb-gray">로그인 및 회원가입</div>

            <div>
              <input id="txt_id" name = "username" type="text" class="input-text" placeholder="아이디 입력" style="margin-bottom:7px;">
              <input id="txt_pw" name = "password" type="password" class="input-text" placeholder="비밀번호 입력">
            </div>
            <div style="padding:24px 0;">
              <div class="fl">
                <label class="checkbox"><input type="checkbox" value="Y"><i class="check-icon" checked></i> <span class="fs-13 fw-b">로그인상태 유지</span></label>
              </div>
              
              <div class="clear"></div>
            </div>
            <button type="submit" class="btn btn-black">로그인</button>
            <div class="row">
                <div class="column">
                  <a href="{% url 'YTMT:signup'%}"><input  id="btn_intro" type="button" class="btn btn-white w200" style="margin-top:12px;" value="회원가입"></a>
                </div>
                <div class="column">
                  <a href="/"><input  type="button" class="btn btn-white w200" style="margin-top:12px;" value="아이디/비밀번호 찾기"></a>
                </div>
            
                
            </div>
            
          </div>
        </form>
      </div>
    </div>

  </div>
