<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/css/common.css?201709272">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
  <link href="https://tistory4.daumcdn.net/tistory/221632/skin/images/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="templete.css">
  <link rel="stylesheet" href="signup.css">
  <link rel="stylesheet" media="screen" type="text/css" href="https://tistory4.daumcdn.net/tistory/221632/skin/style.css?_T_=1508225055">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      $("#btn_join").click(function() {

        var tel1_pattern = /(^01[016789]$)/;

        if ($("#id").val() == "") {
          alert("아이디를 꼭 입력하세요");
          $("#id").focus();
        } else if ($("#pwd").val() == "") {
          alert("비밀번호를 꼭 입력하세요");
          $("#pwd").focus();

        } else if ($("#pwdchk").val() == "") {
          alert("비밀번호확인을 꼭 입력하세요");
          $("#pwdchk").focus();

        } else if ($("#pwd").val() != $("#pwdchk").val()) {
          alert("비밀번호와 비밀번호 확인이 일치하지않습니다.");
          $("#pwd").val("");
          $("#pwdchk").val("");
          $("#pwd").focus();

        }
      });
    });
  </script>



</head>


<header>
    <nav class="navbar navbar-light" style="background-color: #FFC81E;" id="navbar">
            <a class="navbar-brand" href="#">
                <img src="https://ytmtresource.s3.ap-northeast-2.amazonaws.com/YTMT_Logo.jpg" width="70" height="40" alt="">
            </a>

    </nav>


</header>

<body>
  <center>
    <br><br><br><br><br>
    <span style="font-weight: bold; font-size: 2em; line-height: 2em; color: black; font-family: 'Nanum Gothic';">
      회원가입
    </span>
    <br><br>
    <table border="3" bgcolor="#f0f5f3" cellspacing="0" >
      <!-- <FORM> -->

        <tr>
          <th>아이디 </th>
          <td>
            <input type="text" name="id" id="id" placeholder="아이디를 입력해주세요" />
            <input type="button" value="중복확인" />
          </td>
        </tr>
        <tr>
          <th>이메일 </th>
          <td>
            <input type="text" name="email" id="email" placeholder="이메일 아이디" />@<select id="email2">
                <option value="" selected="selected">-메일 주소-</option>
                <option value="naver.com">naver.com</option>
                <option value="daum.net">daum.net</option>
                <option value="nate.com">nate.com</option>
                <option value="hotmail.com">hotmail.com</option>
                <option value="yahoo.com">yahoo.com</option>
                <option value="empas.com">empas.com</option>
                <option value="korea.com">korea.com</option>
                <option value="dreamwiz.com">dreamwiz.com</option>
                <option value="gmail.com">gmail.com</option>
                <option value="etc">직접입력</option>
              </select>
            </td>
          </tr>
        <tr>
          <th> 비밀번호 </th>
          <td> <input type="password" name="pwd" id="pwd" placeholder="비밀번호를 입력해주세요" /> </td>
        </tr>
        <tr>
          <th> 비밀번호 확인 </th>
          <td> <input type="password" name="pwdchk" id="pwdchk" placeholder="비밀번호를 입력해주세요" /> </td>
        </tr>

      <!-- </FORM> -->
    </table>

    <!-- <input type="submit" value="회원가입" />
    <input type="reset" value="다시 입력" /> -->

    <a href="{% url 'YTMT:birthandgender'%}"><input type="button" class="btn btn-warning w200" style="width:200pt;margin-top:12px;" value="next >"></a>


  </center>
</body>

</html>
