    .column {
        float: left;
        width: 50%;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

      ul {
          list-style-type: none;
      }
      .container, .header {
          margin: 0 auto;
      }
      h4 {
              /* Hide the text. */
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
      }