<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>니맛내맛 : 회원가입</title>
  <link rel="stylesheet" href="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/css/common.css?201709272">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script type="text/javascript">
    $(document).ready(function() {

      $("#btn_join").click(function() {

        var tel1_pattern = /(^01[016789]$)/;

        if ($("#id").val() == "") {
          alert("아이디를 꼭 입력하세요");
          $("#id").focus();
        } else if ($("#pwd").val() == "") {
          alert("비밀번호를 꼭 입력하세요");
          $("#pwd").focus();

        } else if ($("#pwdchk").val() == "") {
          alert("비밀번호확인을 꼭 입력하세요");
          $("#pwdchk").focus();

        } else if ($("#pwd").val() != $("#pwdchk").val()) {
          alert("비밀번호와 비밀번호 확인이 일치하지않습니다.");
          $("#pwd").val("");
          $("#pwdchk").val("");
          $("#pwd").focus();

        }
      });
    });
  </script>

  <style>
    h,
    td,
    tr,
    input,
    textarea,
    select,
    FORM {
      font-family: 나눔고딕;
      font-size: 1em;
      border-radius: 5px;
    }

    table,
    FORM {
      border: 1px solid rgba(36, 228, 172, 0.29);
      border-spacing: 15px;
    }

    body {
      font-family:나눔고딕;
    }
  </style>

</head>

<div class="header">
  <h1>
    <a href="http://www.naver.com"><img src="C:\Users\Yusejeong\Desktop\내꺼\ICT캡디\마이멜로디.jpg">
    </a>
  </h1>

  <body style="background-color:#f0f5f3">
    <center>
      <span style="
font-weight: bold;
font-size: 2em;
line-height: 2em;
color: black;
font-family: 'Nanum Gothic';
">
        회원가입
      </span>
      <br>
      <table border="3" bgcolor="#FFD700" cellspacing="0">
        <FORM>
          <tr>
            <td text-align="center">아이디 </td>
            <td>
              <input type="text" name="id" id="id" />
              <input type="button" value="중복확인" />
            </td>
          </tr>

          <tr>
            <td> 비밀번호 </td>
            <td> <input type="password" name="pwd" id="pwd" /> </td>
          </tr>


          <tr>
            <td> 비밀번호 확인 </td>
            <td> <input type="password" name="pwdchk" id="pwdchk" /> </td>
          </tr>
        </FORM>
      </table>
      <br>
      <input type="submit" value="회원가입" />
      <input type="reset" value="다시 입력" />
      <a href="file:///C:/Users/Yusejeong/Desktop/%EB%82%B4%EA%BA%BC/ICT%EC%BA%A1%EB%94%94/%EC%83%9D%EB%85%84%EC%9B%94%EC%9D%BC.html"><input type="button" class="btn btn-warning w200" style="width:120pt;margin-top:12px;" value="다음단계로 이동"></a>


    </center>
  </body>

</html>
