
#addbutton {

  background-color: #000000;
  border: none;
  color: white;
  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 20px;
  font-weight: bold;

  margin: 4px 1px;

  cursor: pointer;

}

#rmbutton {

  background-color: #000000;
  border: none;
  color: white;
  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 20px;
  font-weight: bold;



  cursor: pointer;

}
