h,
td,
tr,
input,
select,
FORM {
  font-family:'나눔고딕';
  font-size: 1em;
  border-radius: 5px;

}
body {
    font-family: 'Nanum Gothic';
    background: #FCEEB5;
}
th {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}

button {

  background-color: #000000;
  border: none;
  padding: 5px 16px;
  text-align: center;
  color:white;

  text-decoration: none;

  display: inline-block;

  font-size: 16px;
  font-weight: bold;


  cursor: pointer;

}

table,
FORM {
    border:none;
  border-spacing: 15px;
  border-collapse: collapse

}

body {
  font-family: 나눔고딕;
}
