p {
    font-weight: 500; 
    font-size: 18px;
}

header1 img {
    width:300px; height:auto; padding-top:10px; padding-bottom: 20px
}

.button {

  background-color: #000000;
  border: none;
  padding: 25px 20px;
  text-align: center;
  color: white;
  width: 300px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 1px;
  margin-bottom: 5px;
  cursor: pointer;
}

body {
    font-family: 'Nanum Gothic';
    background: #FCEEB5;
}

