.title {
    font-weight: bold; 
    font-size: 2em; 
    line-height: 2em; 
    color: black;
}

html, header, body {
    font-family: 'Nanum Gothic';
    background: #FCEEB5;
}
header {
    margin-bottom: 10px;
}

#navbar2 {
    background-color:cornsilk; 
    border-radius: 5px;
    margin-left:5px; 
    margin-right:5px; 
    margin-bottom: 1em;
}
#goto_main {
    background-color:#FFC81E; 
    width:100pt;
    font-weight:500; 
    margin-right: 0; 
    float: right;
}
#goto_main a {
    text-decoration:none;
}

    .center {
      position: absolute;
      top: 50%;
      left: 12%;
      -webkit-transform: translate(-50%, -50%);
    }

    .card {
      width: 1000px;
      height: 250px;
      background-color: #fff;
      background: linear-gradient(#f8f8f8, #fff);
      box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
      border-radius: 6px;
      overflow: hidden;
      position: relative;
      margin: 1.5rem;
       top: 50%;
        border: none;
    }
    .card .general {
      width: 700px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      box-sizing: border-box;
      padding: 1.5rem;
    }

    .card-img { 
        width:auto;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 12%;
        -webkit-transform: translate(-50%, -50%);
    }
      .like-img {
          position:absolute; 
          right:2rem; 
          bottom:0.5rem;
          
      }
      .card-text {
          padding-top: 1rem;
          font-size: 1.2rem;
      }

@media (max-width: 480px) {

}