button {

  background-color: #000000;
  border: none;

  padding: 15px 70px;
  text-align: center;
color:white;

  text-decoration: none;

  display: inline-block;

  font-size: 20px;
  font-weight: bold;

  margin: 4px 1px;

  cursor: pointer;
  width:200pt;

}


button2 {

  background-color: #000000;
  border: none;
  color: white;
  padding: 25px 55px;
  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 30px;
  font-weight: bold;

  margin: 4px 1px;

  cursor: pointer;

}
