@charset "utf-8";
h,
tr,
input,
textarea,
select,
FORM {
  font-family: 나눔고딕;
  font-size: 1em;
  border-radius: 5px;
  font-weight:bold;

}
html, header, body {
    font-family: 'Nanum Gothic';
    background: #FCEEB5;
}

.row {
  width: 40%;
  display: table;
}

.box {
  display: table-cell;
}

.box-a {
  width: 50%;
  text-align: center;


}

.box-b {
  width: 50%;
  text-align: center;
}


@media (max-width: 480px) {
  .row {
    width: 100%;
    display: table;
  }

}
