
#login_body important {
    padding-top:50px;
}

.btn, .input-text {
    width: 400px;
}
@media (max-width: 480px) {
    .input-text {
        width: 350px;
    }
    .btn {
        width: 350px;
    }


}
html, header, body {
    font-family: 'Nanum Gothic';
    background: #FCEEB5;
    margin-top: 50px;
}
