h,
td,
tr,
input,
textarea,
select,
FORM {
  font-family: 나눔고딕;
  font-size: 1em;
  border-radius: 5px;
}
html, header, body {
    font-family: 'Nanum Gothic';
    background-color: #FCEEB5;
}
th {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}

button {

  background-color: #000000;
  border: none;
  color: white;
  padding: 25px 70px;
  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 30px;
  font-weight: bold;

  margin: 4px 1px;

  cursor: pointer;

}

button2 {

  background-color: #000000;
  border: none;
  color: white;
  padding: 25px 55px;
  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 30px;
  font-weight: bold;

  margin: 4px 1px;

  cursor: pointer;

}

table,
FORM {
  border: none;
  border-spacing: 15px;

}
